@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Poppins&family=Rubik&family=Varela+Round&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* <576px
Small	sm	≥576px
Medium	md	≥768px
Large	lg	≥992px
Extra large	xl	≥1200px
Extra extra large	xxl	≥1400px<576px
Small	sm	≥576px
Medium	md	≥768px
Large	lg	≥992px
Extra large	xl	≥1200px
Extra extra large	xxl	≥1400px */
body{
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.75)), url(../images/background-smoothie.jpg) !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center !important;
    height: auto !important; 
    font-family:'Montserrat', sans-serif !important;
    font-weight: lighter;
    background-attachment: fixed;
}
.header-number{
    padding-left: 4%;
    width: 55%;
    display:flex;
    margin-top: 2%;
}
.header-number .phone-image{
    width: 15%;
    margin-top: -2%;
}
.header-number .clock-image{
width:9% ;
margin-top: -2%;
}
.header-number p{
    color: white;
    font-size: 90%;
    width: 26%;
}
.header-number span{
    padding-left: 0.1%;
}
@media(max-width:1200px){
    .header-number{
        width: 70%;
    }
   } 
   @media(max-width:992px){
    .header-number{
        width: 85%;
    }
    .header-number p{
        font-size: 80%;
    }
   }
   @media(max-width:768px){
    .header-number{
      width: 100%;
    }
 .header-number p{
        font-size: 80%;
    }
   }
@media(max-width:576px){
    .header-number{
      width: 100%;
      line-height: 0.5;
      display: block;
    }
 .header-number p{
        font-size: 70%;
        width: 40%;
    }
    .header-number .phone-image{
        width: 10%;
        margin-top: -2%;
    }
    .header-number .clock-image{
    width:6% ;
    margin-top: -2%;
    margin-left: 2%;
    }
}
@media(max-width:375px){
    .header-number{
      width: 100%;
      line-height: 0.5;
      display: block;
    }
 .header-number p{
        font-size: 70%;
        width: 45%;
    }
    .header-number .phone-image{
        width: 12%;
    }
    .header-number .clock-image{
    width:7% ;
    }
}
.navbar-expand-lg{
    opacity:0.8 !important;
    background-color: black !important;
    height: 15vh !important;
}
.navbar-brand{
    color: rgb(231, 55, 84) !important;
    padding-left:4%;
    font-weight: bold;
}
.navbar-expand-lg .nav-button{
    border: 0.1rem solid rgb(231, 55, 84);
    width: 16%;
    padding: 0.8%;
    text-align: center;
    border-radius:10vmin;
    background: transparent;
    margin-right:4%
}
.navbar-expand-lg .nav-button button{
    background: transparent;
    outline: none;
    border: none;
    color:white;
}
.navbar-expand-lg .nav-button:hover{
    background-color:rgb(235, 30, 64);
    color: white;
    border: none;
}
.navbar-nav{
    margin-left: 12.5%;
}
.nav-item{
    padding-right: 7%;
    font-size: 110%;
}
.nav-link{
    color: white !important;
}
.nav-link:hover{
    color: rgb(231, 55, 84) !important;
}
@media(max-width:1200px){
    .navbar-nav{
        margin-left:10%;
    }
    .nav-item{
        padding-right: 4%;
        font-size: 110%;
    }
}
 @media(max-width:1188px){
    .navbar-nav{
        margin-left:9%;
    }
    .nav-item{
        padding-right: 4%;
        font-size: 95%;
    }
    .navbar-expand-lg .nav-button{
        font-size: 82%;
    }
}
/*@media(max-width:1037px){
    .navbar-nav{
        margin-left:15%;
    }
    .nav-item{
        padding-right: 4%;
        font-size: 90%;
    }
    .navbar-expand-lg .nav-button{
        font-size: 85%;
    }
}

@media(max-width:992px){
    .navbar-nav{
        margin-left:15%;
    }
    .nav-item{
        padding-right: 4%;
        font-size: 90%;
    }
    .navbar-expand-lg .nav-button{
        font-size: 85%;
    }
} */
@media(max-width:991px){
    .navbar-expand-lg .nav-button{
        display: none;
    }
    .navbar-expand-lg{
        opacity: 1 !important;
    }
    .navbar-collapse{
    background-color: white;
    opacity:none;
}
    .nav-link{
        color: black !important;
        font-size: 90%;
    }
    .navbar-nav{
        margin-left:45%;
    }
    .navbar-expand-lg{
        height: 15vh;
    }
}
@media(max-width:768px){
    .navbar-expand-lg .nav-button{
        display: none;
    }
    .nav-link{
        color: black !important;
        font-size: 85%;
    }
    .navbar-nav{
        margin-left:44%;
    }
    .navbar-expand-lg{
        opacity: 1 !important;
    }
    .navbar-collapse{
        background-color: white;
        opacity:none;
    }
    .navbar-expand-lg{
        height: 15vh;
    }
}
@media(max-width:576px){
    .navbar-expand-lg .nav-button{
        display: none;
    }
    .navbar-collapse{
        background-color: white;
        opacity:none;
    }
    .navbar-expand-lg{
        opacity: 1 !important;
    }
    .navbar-nav{
        margin-left:43%;
    }
    .nav-link{
        color: black !important;
        font-size: 80%;
    }
    .navbar-expand-lg{
        height: 15vh;
    }
}
@media(max-width:425px){
    .navbar-expand-lg .nav-button{
        display: none;
    }
    .navbar-nav{
        margin-left:42.5%;
    }
    .navbar-collapse{
        background-color: white;
        opacity:none;
    }
    .navbar-expand-lg{
        opacity: 1 !important;
    }
    .nav-link{
        color: black !important;
        font-size: 75%;
    }
    .navbar-expand-lg{
        height: 15vh;
    }
}
.hero{
    height:50vh;
}
.hero-content{
    color:white;
    margin-top:5%;
    margin-left:4%; 
}
.hero-content h1{
    font-size:470%;
}
.h-span{
    color: rgb(231, 55, 84);
}
.hero-button{
    margin-top:2%;
}
.our-menu{
    border: 0.1rem solid rgb(231, 55, 84);
    padding: 1% 4.5% 1% 4.5%;
    border-radius:10vmin;
    background: transparent;
}
.to-order{
    border: 0.1rem solid rgb(231, 55, 84);
    padding: 1% 3% 1% 3%;
    border-radius:10vmin;
    background: transparent;
    margin-left: 0.5%;
}
.order button{
    background: transparent;
    outline: none;
    border: none;
    color:white;
}
.order:hover{
    background-color:rgb(235, 30, 64);
    color: white;
    border: none;
}
 @media(max-width:992px){
    .hero-content h1{
        font-size:410%;
    }
    .hero-content p{
        font-size:100%;
    }
    .hero-button{
        margin-top:2%;
    }
} 
@media(max-width:768px){
    .hero-content h1{
        font-size:380%;
    }
    .hero{
        height: 45vh;
    }
    .hero-content h4{
        font-size:120%;
    }
    .hero-button{
        margin-top:2.5%;
    }
}
@media(max-width:576px){
    .hero-content h1{
        font-size:270%;
    }
    .hero{
        height: 35vh;
    }
    .hero-content h4{
        font-size:100% !important;
    }
    .hero-button{
        margin-top:3%;
    }
    .hero-button .order button{
        font-size: 80%;
    }
}
@media(max-width:425px){
    .hero-content h1{
        font-size:200%;
    }
    .hero{
        height: 30vh;
    }
    .hero-content h4{
        font-size:75% !important;
    }
    .hero-button{
        margin-top:3.5%;
    }
    .hero-button .order button{
        font-size: 70%;
    }
}


.about-section{
    height: 175vh;
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../images/restau-expensive.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}
.about-content{
    color: white;
    /* margin-left: -7.65%; */
}
.about-div{
    display: flex;
    justify-content: space-between;
    padding-top: 9%;
}
.about-div .about-content h5{
    color: rgb(231, 55, 84) !important ;
}
.about-div .about-content p{
    font-size: 90%;
}
.about-text{
    margin-left: 4%;
    width: 40%;
}
.diff-about .about-text{
    margin-right: 4%;
}
.diff-about .about-image{
    margin-left: 4%;
}
.about-image{
    width:40%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../images/Bintyasproduct.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    border: 3px solid whitesmoke;
    height: 60vh;
    margin-right: 4%;
    transition: .6s;
}
.about-image:hover{
    width: 41%;
    height:61vh;
}
.diff-about .about-image{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../images/healthy\ smoothie.jpg);
}
.diff-about{
    flex-direction: row-reverse;
}
@media(max-width:995px){
    .about-div .about-content p{
        font-size: 81%;
    }
    .about-section{
        height:185vh;}
}
@media(max-width:1200px){
    .about-div .about-content p{
        font-size: 83%;
    }
}
@media(max-width:992px){
    .about-div .about-content p{
        font-size: 80%;
    }
    .about-text{
        width: 50%;
    }
    .about-section{
        height: 160vh;
    }
}
@media(max-width:768px){
    .about-div .about-content h1{
font-size: 150%;
    }
    .about-div .about-content h5{
        font-size: 90%;
    }
    .about-div .about-content p{
        font-size: 73%;
    }
    .about-text{
        width: 45%;
    }
    .about-section{
        height: 165vh;
    }
}
@media(max-width:576px){
    .about-div{
        display: block;
    }
    .about-text{
        width: 95%;
        margin-right: 4%;
    }
    .about-section{
        height: 265vh;}

    .about-div .about-content h1{
        font-size: 120%;
            }
            .about-div .about-content p{
                font-size:76.5%;
            }
          .diff-about .about-image{
            width:92%;
            margin-top: 2%;
          }
    .about-image{
        margin-left: 4%;
        width:92%;
        margin-top: 2%;
    }
   }
   @media(max-width:425px){
    .about-div{
        display: block;
    }
    .about-text{
        width: 95%;
        margin-right: 4%;
    }
    .about-section{
        height: 270vh;}

    .about-div .about-content h1{
        font-size: 120%;
            }
            .about-div .about-content p{
                font-size:76.5%;
            }
          .diff-about .about-image{
            width:92%;
            margin-top: 2%;
          }
    .about-image{
        margin-left: 4%;
        width:92%;
        margin-top: 2%;
    }
   }
.menu{
    background-color:rgb(26, 27, 25);
    height: 100vh;
}
.menu p{
    color: white !important;
    font-size: 115%;
}
.menu h3{
    font-size: 200%;
}
.menu-heading{
    line-height: 0;
   margin-left: 4%;
   padding-top: 5%;
   padding-bottom: 1%;
}
.menu >div{
    color: white !important;
}
.menu-list-flex{
    display: flex;
    justify-content: space-between;
}
.menu-list{
    display: flex;
    align-items: center;
    margin-top: 6%;
    cursor: pointer;
}
.menu-list:hover{
    color:rgb(231, 55, 84) ;
}
.menu-list-one{
    margin-left: 4%;
}
.menu-list-two{
    margin-right: 2.5%;
}
.menu-content{
    margin-left: 2%;
}
.menu-img{
    vertical-align: middle;
    height: 70px;
    width: 70px;
    border-radius: 70%;
    border: 3px solid white;
}
.menu-content .desktop-view{
    font-family:'Montserrat', sans-serif !important;
    font-size: 108%;
}
.menu-content .big-tablet-view{
    display: none;
}
.menu-content .small-tablet-view{
display: none;
}
.lorem{
   color: rgb(143, 140, 140);
}
.menu-content .extra-small-tablet-view{
    display: none;
}
@media(max-width:1200px){
    .menu p{
        color: white !important;
        font-size: 110%;
    }
    .menu h3{
        font-size: 190%;
    }
    .menu-img{
        height: 60px;
        width: 60px;
        border-radius: 60%;
    }

    .menu-content .desktop-view{
        font-size: 100%;
       display: contents;
       font-family:'Montserrat', sans-serif !important;
    }
    .lorem{
        font-size: 86%;
    }
}
@media(max-width:992px){
    .menu{
        height: 60vh;
    }
    .menu p{
        color: white !important;
        font-size: 100%;
    }
    .menu h3{
        font-size: 180%;
    }
    .menu-img{
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
    .menu-content .desktop-view{
        display: contents;
        font-size: 75%;
        font-family:'Montserrat', sans-serif !important;
    }
     .lorem{
        font-size: 69%;
    }
}
@media(max-width:768px){
    .menu{
        height: 60vh;
    }
    .menu p{
        color: white !important;
        font-size: 90%;
    }
    .menu h3{
        font-size: 170%;
    }
    .menu-img{
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
    .menu-content .desktop-view{
        display: contents;
        font-size: 58%;
        font-family:'Montserrat', sans-serif !important;
    }
     .lorem{
        font-size: 54%;
    }
}
@media (max-width:576px){
    .menu{
        height: 120vh;
    }
    .menu-img{
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
    .menu-content .desktop-view{
       display: contents;
        font-size: 94%;
        font-family:'Montserrat', sans-serif !important;
    }
    .menu-list-flex{
        display: block;
    }
    .menu-list-two{
        margin-left: 4%;
    }
    .lorem{
        font-size: 81%;
    }
}
@media (max-width:445px){
    .menu{
        height: 100vh;
    }
     .menu-img{
        height: 30px;
        width: 30px;
        border-radius: 50%;
    }
    .menu-content .desktop-view{
       display: contents;
        font-size: 78%;
        font-family:'Montserrat', sans-serif !important;
    }
    .menu-list-flex{
        display: block;
    }
    .menu-list-two{
        margin-left: 4%;
    }
    .lorem{
        font-size: 67%;
    }
}
@media (max-width:375px){
    .menu{
        height: 90vh;
    }
    .menu p{
        color: white !important;
        font-size: 80%;
    }
    .menu h3{
        font-size: 130%;
    }
     .menu-img{
        height: 20px;
        width: 20px;
        border-radius: 50%;
        border: 1.5px solid white;
    }
    .menu-content .desktop-view{
       display: contents;
        font-size: 66%;
        font-family:'Montserrat', sans-serif !important;
    }
    .menu-list-flex{
        display: block;
    }
    .menu-list-two{
        margin-left: 4%;
    }
    .lorem{
        font-size: 57%;
    }
}
/* to here */
.event{
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../images/restaurant-second.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}
.event-heading{
    line-height: 0;
   margin-left: 4%;
   padding-top: 5%;
}
.event p{
    color: white;
    font-size: 90%;
}
.event h3{
    font-size: 200%;
}
.event-div-content{
    color: white;
}
.event-div{
    display: flex;
    justify-content: space-between;
    padding-top: 3%;
} 
.event-div .event-div-content h5{
    color: rgb(231, 55, 84) !important ;
}
.event-image{
    width:35%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../images/norm\ restau.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    border: 3px solid whitesmoke;
    height: 55vh;
    margin-right: 4%;
    transition: .9s;
}
.event-image:hover{
    width: 36%;
    height: 55.5vh;
}
.event-text{
    margin-left: 4%;
}
@media(max-width:995px){
    .event p{
        font-size: 81%;
    }
}
 @media(max-width:1200px){
    .event p{
        font-size: 83%;
    }
}
@media(max-width:992px){
    .event p{
        font-size: 80%;
    }
    .event-text{
        width: 50%;
    }
}
@media(max-width:768px){
    .event{
        height: 75vh;
}
    .event h3{
     font-size: 125%;
    }
    .event h5{
        font-size: 90%;
    }
    .event p{
        font-size: 73%;
    }
    .event-text{
        width: 45%;
    }
}
@media(max-width:576px){
    .event-div{
        display: block;
    }
    .event-text{
        width: 95%;
        margin-right: 4%;
    }
    .event{
        height: 135vh;}

    .event-div h3{
        font-size: 110%;
            }
            .about-div p{
                font-size:76.5%;
            }
          .diff-event .event-image{
            width:92% !important;
            margin-top: 4%;
            margin-left: 4%;
          }
    .event-image{
        margin-left: 4%;
        width:92% !important;
        margin-top: 4%;
    }
   }
@media(max-width:425px){
    .event-div{
        display: block;
    }
    .event-text{
        width: 95%;
        margin-right: 4%;
    }
    .event-section{
        height: 150vh;}

    .event-div h3{
        font-size: 100%;
            }
            .event-div p{
                font-size:76.5%;
            }
          .diff-event .event-image{
            width:92%;
            margin-top: 5%;
          }
    .event-image{
        margin-left: 4%;
        width:92%;
        margin-top: 5%;
    }
   }

.book-a-table{
    background-color: rgb(26, 27, 25);
    opacity: 0.9;
    height: 120vh;
}
.book-a-table-content{
    line-height: 0;
    margin-left:4%;
    padding-top: 5%;
}
.book-a-table-content p{
    color: white;
    font-size: 115%;
}
.book-a-table-content h3{
    font-size:200%;
}
.form-input input{
    background: transparent;
    width: 27.3%;
    padding: 1%;
    border:1px solid white;
    border-top: none;
    border-right: none;
    border-left: none;
    text-align: center;
    outline: none;
    color: white !important;
    margin: 2.5%;
}
.form-input input::placeholder{
    color:  rgb(146, 146, 146) !important;
    text-align: center;
}
#message{
    background: transparent;
    padding: 1%;
    border:1px solid white;
    border-radius: 7px;
    color: white !important;
    margin: 1% 4.3% 1% 4.3%;
    width: 91%;
    height: 45vh;
    outline: none;
}
.form-input{
    margin-left: 2.15%;
}
@media(max-width:992px){
    .form-input input{
        width:43.2%;
    }
     br{
        display: none;
    }
}
@media(max-width:768px){
    .form-input input{
        width:43.2%;
    }
    br{
        display:none;
    }
}
@media(max-width:576px){
    .form-input input{
        width:92%;
    }
    .book-a-table{
        height: 140vh;
    }
}
@media(max-width:425px){
    .form-input input{
        width:92%;
    }
    .book-a-table{
        height: 130vh;
    }
}
.testimonials .d-flex .card{
    margin: 3.3% !important;
    background-color:  rgb(52, 53, 51);
    height:40vh;
    width: 25%;
} 
.testimonials{
    background-color: rgb(26, 27, 25);
    height: 95vh;
}
.testimonial-content{
    line-height: 0;
    margin-left:4%;
    padding-top: 5%;
}
.testimonial-content p{
    color: white;
    font-size: 115%;
}
.testimonial h3{
    font-size: 200%;
}
.testimonials .d-flex{
    margin-left: 45px;
     padding-top: 50px;
 }